SesPage {
    background-color: rgb(243, 243, 243);
}

QTextEdit {
    color: rgb(0, 0, 0);
    background-color: rgb(243, 243, 243);
    border: 1px solid transparent;
}

/* QListWidget {
    background-color: rgb(243, 243, 243);
    border: 1px solid transparent;
} */

/* #list {
    background-color: rgb(243, 243, 243);
    border: 1px solid transparent;
}

#list::item:hover {
    background-color: rgb(234, 234, 234);
}

#list::item:selected {
    background-color: rgb(234, 234, 234);
} */