UserInfoPage {
    background-color: transparent;
    border: 1px solid transparent;
}

#container {
    background-color: rgb(243, 243, 243);
    border-radius: 4px;
    border: 1px solid rgb(130, 135, 144);
}